<div class="container-fluid row">
  <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header header">
                    <div class="container row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 logo">
                           <a href="index.html">
                                <img src="img/logo.png" class="logo_img" alt="">
                            </a>      
                        </div>
                        <div class="phone col-lg-4 col-md-4 col-sm-6 col-xs-12">
                            <div class="row">
                              <div class="col-lg-12 col-sm-12 col-xs-6 phone-header text-center">
                                <h4>НАШ ТЕЛЕФОН:</h4>
                              </div>
                              <div class="col-lg-12 col-sm-12 col-xs-6 header-number ska text-center">
                                <h3>(499) 128 94 91</h3>
                              </div>  
                                </div>
                            <div class="row">                     
                              <div class="col-lg-12 col-sm-12 col-xs-6 phone-header text-center">
                                <h4>ПОЧТА:</h4>
                              </div>
                              <div class="col-lg-12 col-sm-12 col-xs-6 header-number text-center">
                                <h3>info@tepli.ru</h3>
                              </div>                              
                            </div>
                        </div>
                         <div class="dealer col-lg-4 col-md-4 col-sm-6 col-xs-12 header-dealer">
                            <div class="of-partner col-sm-12">
                              <h4>ОФИЦИАЛЬНЫЙ ПАРТНЕР</h4>
                            </div>
                            <div class="partner-name text-center col-sm-12">
                              <a href="https://www.deltalight.com/ru">
                                <img src="img/logo_deltalight.png" class="logo_del" alt="">
                              </a> 
                            </div>
                            <div class="dealer_href">
                                <h5 class="text-right">
                                  <div class="hidden-md hidden-sm hidden-xs">
                                    <a href="https://www.deltalight.com">www.deltalight.com</a>
                                  </div>
                                </h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12">
                    <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle menu">                      
                      <i class="fas fa-bars fa-2x pull-left"></i><div class="menu-text">Меню сайта</div>
                    </button>
                    </div>
                </div>    

                <div id="navbarCollapse" class="collapse navbar-collapse">
              
                    <ul class="nav nav-pills">
                        {{#if isIndex}}
                        <li class="active"><a href="/">ГЛАВНАЯ</a></li>
                        {{else}}
                        <li><a href="/">ГЛАВНАЯ</a></li>
                        {{/if}}   
                                      
                        {{#if isAbout}}
                        <li class="active"><a href="/about">О КОМПАНИИ</a></li>
                        {{else}}
                        <li><a href="/about">О КОМПАНИИ</a></li>
                        {{/if}}              
                        {{#if isNews}}
                        <li class="active"><a href="/news">НОВОСТИ</a></li>
                        {{else}}
                        <li><a href="/news">НОВОСТИ</a></li>
                        {{/if}}              
                        {{#if isCatalog}}
                        <li class="active"><a href="/catalog">КАТАЛОГ ПРОДУКЦИИ</a></li>
                        {{else}}
                        <li><a href="/catalog">КАТАЛОГ ПРОДУКЦИИ</a></li>
                        {{/if}}              
                        {{#if isPrice}}
                        <li class="active"><a href="/price">СКАЧАТЬ ПРАЙС-ЛИСТ</a></li>
                        {{else}}
                        <li><a href="/price">СКАЧАТЬ ПРАЙС-ЛИСТ</a></li>
                        {{/if}}           
                        {{#if isContacts}}
                        <li class="active"><a href="/contacts">КОНТАКТЫ</a></li>
                        {{else}}
                        <li><a href="/contacts">КОНТАКТЫ</a></li>
                        {{/if}} 
                    </ul>
                </div>

            </div>
  </nav>  
</div>