<div class="wrapper">
        <div class="container">
    <!-- ЛЕВЫЙ БЛОК КОНТЕНТА -->
           <!--  <div class="col-lg-3">
                <div id="navbarCollapse" class="collapse navbar-collapse">
              
                    <ul class="nav nav-stacked">
                        <li> <a href="index.html">ГЛАВНАЯ</a> </li>
                        <li class="active "> <a href="#">О КОМПАНИИ</a> </li>
                        <li> <a href="news.html">НОВОСТИ</a> </li>                        
                        <li> <a href="#">КАТАЛОГ ПРОДУКЦИИ</a> </li>
                        <li> <a href="price.html">СКАЧАТЬ ПРАЙС-ЛИСТ</a> </li>                        
                        <li> <a href="contacts.html">КОНТАКТЫ</a> </li>
                    </ul>
                </div>

                <div class="margin-20 hidden-xs"></div>
                
                <div class="news hidden-xs">
                  <a href="#"><h3>НОВОСТИ</h3></a>
                  <hr>

                  <a href="#"><h4>Заголовок новости</h3></a>
                  <p>23.02.2019</p>
                  <p class="text-justify">Новости про свет, интерьеры и так далее</p>
                  <hr>
                  <a href="#"><h4>Ещё заголовок новости</h3></a>
                  <p>23.02.2019</p>
                  <p class="text-justify">В интерьере, в его дизайне мелочей не бывает. Здесь взаимосвязано практически всё.</p>
                  <hr>
                  <a href="#"><h4>Крутейший заголовок</h3></a>
                  <p>23.02.2019</p>
                  <p class="text-justify">В интерьере, в его дизайне мелочей не бывает. Здесь взаимосвязано практически всё.</p>
                  <hr>
                </div>

            </div> -->
    <!-- ПРАВЫЙ БЛОК КОНТЕНТА -->
            <div class="col-lg-12">
                
                <h2 class="h2_header">О КОМПАНИИ</h2>
                <hr>
                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis malesuada elit in sem facilisis elementum. Pellentesque lorem tellus, dictum nec bibendum ac, lacinia in eros. Fusce vitae euismod ipsum, a viverra nibh. Sed viverra turpis non blandit condimentum. Nulla blandit arcu in ligula imperdiet tincidunt. Suspendisse ut vestibulum neque. Nulla sed ex eu leo suscipit tristique. Donec ac rutrum lectus. Vivamus quis erat id elit ultrices malesuada.

                Etiam quis tincidunt massa, id euismod velit. Morbi rutrum rutrum augue ut vestibulum. Proin venenatis risus turpis, tempus tincidunt odio auctor vestibulum. Nam laoreet scelerisque ipsum, vel volutpat lectus tristique non. Vivamus ac suscipit nisl. Mauris at semper libero. Praesent auctor, leo a malesuada consectetur, tellus sem accumsan quam, at sollicitudin diam est quis ligula. In mattis lectus sit amet sagittis congue.

                Integer eu nisl varius odio tempor tristique quis in tortor. Morbi molestie ac sapien in ultrices. Nulla varius metus nunc, sed sollicitudin ex auctor et. In sollicitudin facilisis sollicitudin. Donec vehicula sit amet arcu ut lobortis. Morbi fermentum dui sit amet nisi mollis consequat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec interdum molestie suscipit. Aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquet accumsan sollicitudin. Donec aliquam eleifend pretium.

                Nulla rutrum pharetra urna eu aliquam. Praesent malesuada elit non massa fermentum finibus. Nam aliquet tincidunt ante molestie sodales. Proin metus mauris, tempor non maximus ut, mattis non mi. Nam vel finibus est, suscipit vestibulum tellus. Phasellus justo justo, sollicitudin a sagittis vitae, mollis sed ante. Mauris vel tellus id mauris feugiat dignissim. Etiam congue erat arcu. In tellus tellus, luctus ac enim vel, lobortis posuere mi. Nulla suscipit condimentum porttitor. Donec non orci malesuada, pulvinar tortor nec, imperdiet neque. Aliquam erat volutpat.

                Sed gravida mi mi, ut convallis orci mollis sit amet. Mauris a maximus velit. Duis facilisis ultrices neque, in fermentum eros posuere ac. Quisque augue velit, aliquam at ex ac, tincidunt aliquam est. Cras leo ex, maximus vitae neque vitae, bibendum tincidunt tellus. Fusce efficitur faucibus suscipit. Suspendisse sit amet erat congue, dapibus neque et, vulputate mi. Mauris nulla nibh, tincidunt id velit quis, euismod pretium orci. Nullam nulla diam, euismod et ligula ac, gravida efficitur lectus. Aenean quis ligula eget nunc hendrerit pulvinar. Cras sed neque mollis, elementum dolor non, vulputate lacus. Proin iaculis eleifend lorem in vehicula. Nullam sed nisl lectus.</p>

                <div class="margin-5"></div>


                <div class="row">
                  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 image">
                    <img src="img/lumb5.jpg" alt="">
                  </div>
                  
                  <div class="col-lg-3 col-md-3 col-sm-4 col-xs-6 image">
                    <img src="img/lumb4.jpg" alt="">
                  </div>

                  <div class="col-lg-3 col-md-3 col-sm-4 hidden-xs image">
                    <img src="img/lumb5.jpg" alt="">
                  </div>
                  
                  <div class="col-lg-3 col-md-3 hidden-sm hidden-xs image">
                    <img src="img/lumb4.jpg" alt="">
                  </div>
                </div>

                <div class="margin-5"></div> 

                <div class="row hidden-lg hidden-md hidden-sm">
                  <div class="col-lg-3 col-xs-6 image">
                    <img src="img/lumb3.jpg" alt="">
                  </div>
                  
                  <div class="col-lg-3 col-xs-6 image">
                    <img src="img/lumb1.jpg" alt="">
                  </div>                
                </div>

                <div class="margin-5"></div>

                <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis malesuada elit in sem facilisis elementum. Pellentesque lorem tellus, dictum nec bibendum ac, lacinia in eros. Fusce vitae euismod ipsum, a viverra nibh. Sed viverra turpis non blandit condimentum. Nulla blandit arcu in ligula imperdiet tincidunt. Suspendisse ut vestibulum neque. Nulla sed ex eu leo suscipit tristique. Donec ac rutrum lectus. Vivamus quis erat id elit ultrices malesuada.

                Etiam quis tincidunt massa, id euismod velit. Morbi rutrum rutrum augue ut vestibulum. Proin venenatis risus turpis, tempus tincidunt odio auctor vestibulum. Nam laoreet scelerisque ipsum, vel volutpat lectus tristique non. Vivamus ac suscipit nisl. Mauris at semper libero. Praesent auctor, leo a malesuada consectetur, tellus sem accumsan quam, at sollicitudin diam est quis ligula. In mattis lectus sit amet sagittis congue.

                Integer eu nisl varius odio tempor tristique quis in tortor. Morbi molestie ac sapien in ultrices. Nulla varius metus nunc, sed sollicitudin ex auctor et. In sollicitudin facilisis sollicitudin. Donec vehicula sit amet arcu ut lobortis. Morbi fermentum dui sit amet nisi mollis consequat. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec interdum molestie suscipit. Aliquam erat volutpat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas aliquet accumsan sollicitudin. Donec aliquam eleifend pretium.

                Nulla rutrum pharetra urna eu aliquam. Praesent malesuada elit non massa fermentum finibus. Nam aliquet tincidunt ante molestie sodales. Proin metus mauris, tempor non maximus ut, mattis non mi. Nam vel finibus est, suscipit vestibulum tellus. Phasellus justo justo, sollicitudin a sagittis vitae, mollis sed ante. Mauris vel tellus id mauris feugiat dignissim. Etiam congue erat arcu. In tellus tellus, luctus ac enim vel, lobortis posuere mi. Nulla suscipit condimentum porttitor. Donec non orci malesuada, pulvinar tortor nec, imperdiet neque. Aliquam erat volutpat.

                Sed gravida mi mi, ut convallis orci mollis sit amet. Mauris a maximus velit. Duis facilisis ultrices neque, in fermentum eros posuere ac. Quisque augue velit, aliquam at ex ac, tincidunt aliquam est. Cras leo ex, maximus vitae neque vitae, bibendum tincidunt tellus. Fusce efficitur faucibus suscipit. Suspendisse sit amet erat congue, dapibus neque et, vulputate mi. Mauris nulla nibh, tincidunt id velit quis, euismod pretium orci. Nullam nulla diam, euismod et ligula ac, gravida efficitur lectus. Aenean quis ligula eget nunc hendrerit pulvinar. Cras sed neque mollis, elementum dolor non, vulputate lacus. Proin iaculis eleifend lorem in vehicula. Nullam sed nisl lectus.</p>
                
            </div>
        </div>
    </div>