<div class="wrapper">
        <div class="container">
    <!-- ЛЕВЫЙ БЛОК КОНТЕНТА -->
            <!-- <div class="col-lg-3">
                <div id="navbarCollapse" class="collapse navbar-collapse">
              
                    <ul class="nav nav-stacked">
                        <li> <a href="index.html">ГЛАВНАЯ</a> </li>
                        <li> <a href="about.html">О КОМПАНИИ</a> </li>
                        <li> <a href="news.html">НОВОСТИ</a> </li>                        
                        <li> <a href="#">КАТАЛОГ ПРОДУКЦИИ</a> </li>
                        <li class="active"> <a href="price.html">СКАЧАТЬ ПРАЙС-ЛИСТ</a> </li>                        
                        <li> <a href="contacts.html">КОНТАКТЫ</a> </li>
                    </ul>
                </div>

                <div class="margin-20 hidden-xs"></div>
                
                <div class="news hidden-xs">
                  <a href="#"><h3>НОВОСТИ</h3></a>
                  <hr>

                  <a href="#"><h4>Заголовок новости</h3></a>
                  <p>23.02.2019</p>
                  <p class="text-justify">Новости про свет, интерьеры и так далее</p>
                  <hr>
                  <a href="#"><h4>Ещё заголовок новости</h3></a>
                  <p>23.02.2019</p>
                  <p class="text-justify">В интерьере, в его дизайне мелочей не бывает. Здесь взаимосвязано практически всё.</p>
                  <hr>
                  <a href="#"><h4>Крутейший заголовок</h3></a>
                  <p>23.02.2019</p>
                  <p class="text-justify">В интерьере, в его дизайне мелочей не бывает. Здесь взаимосвязано практически всё.</p>
                  <hr>
                </div>

            </div> -->
    <!-- ПРАВЫЙ БЛОК КОНТЕНТА -->
            <div class="col-lg-12">                        

                <h2 class="h2_header">КАТАЛОГ ПРОДУКЦИИ</h2>
                <hr>                
                <p style="font-size: 130%;">Каталог продукции находится на сайте нашего партнёра - Deltalight</p>

                <div class="margin-5"></div>



                <div class="col-lg-12 col-xs-12 btn">
                    <a href="https://www.deltalight.com/ru/products/overview" class="btn btn-primary btn-lg btn_pdf" target="_blank">Перейти на сайт Deltalight</a>
                </div>          

            
            </div>
          
        </div>
    </div>



