<div class="wrapper">
        <div class="container">
    <!-- ЛЕВЫЙ БЛОК КОНТЕНТА -->
            <!-- <div class="col-lg-3">
                <div id="navbarCollapse" class="collapse navbar-collapse">
              
                    <ul class="nav nav-stacked">
                        <li> <a href="index.html">ГЛАВНАЯ</a> </li>
                        <li> <a href="about.html">О КОМПАНИИ</a> </li>
                        <li> <a href="news.html">НОВОСТИ</a> </li>                        
                        <li> <a href="#">КАТАЛОГ ПРОДУКЦИИ</a> </li>
                        <li> <a href="price.html">СКАЧАТЬ ПРАЙС-ЛИСТ</a> </li>                        
                        <li class="active"> <a href="contacts.html">КОНТАКТЫ</a> </li>
                    </ul>
                </div>

                <div class="margin-20 hidden-xs"></div>
                
                <div class="news hidden-xs">
                  <a href="#"><h3>НОВОСТИ</h3></a>
                  <hr>

                  <a href="#"><h4>Заголовок новости</h3></a>
                  <p>23.02.2019</p>
                  <p class="text-justify">Новости про свет, интерьеры и так далее</p>
                  <hr>
                  <a href="#"><h4>Ещё заголовок новости</h3></a>
                  <p>23.02.2019</p>
                  <p class="text-justify">В интерьере, в его дизайне мелочей не бывает. Здесь взаимосвязано практически всё.</p>
                  <hr>
                  <a href="#"><h4>Крутейший заголовок</h3></a>
                  <p>23.02.2019</p>
                  <p class="text-justify">В интерьере, в его дизайне мелочей не бывает. Здесь взаимосвязано практически всё.</p>
                  <hr>
                </div>

            </div> -->
    <!-- ПРАВЫЙ БЛОК КОНТЕНТА -->
            <div class="col-lg-12">  

                <h2 class="h2_header">КОНТАКТЫ</h2>

                <hr>

                <div class="col-lg-12 cont_phone">
                    <h3 class="h3_cont text-center">НОМЕРА ТЕЛЕФОНОВ</h3>
                    <br>
                    <div class="col-lg-6 text-center">
                        <p><span class="phone_number">(499) 128 94 91</span></p>
                    </div>
                    <div class="col-lg-6 text-center">
                        <p><span class="phone_number">(499) 128 81 27</span></p>
                    </div>              
                    <div class="col-lg-6 text-center">
                        <p><span class="phone_number">(499) 128 82 07</span></p>
                    </div>                
                    <div class="col-lg-6 text-center">
                        <p><span class="phone_number">+7 (999) 880 27 03</span></p>
                    </div>               
                </div>   

                <div class="col-lg-12">
                    <hr>
                </div>

                <div class="col-lg-12 cont_phone">
                    <h3 class="h3_cont text-center">ПОЧТА</h3>
                    <br>
                    <div class="col-lg-12 text-center">
                        <p><span class="phone_number">info@tepli.ru</span></p>
                    </div>
                                
                </div>   

                <div class="col-lg-12">
                    <hr>
                </div>

<!-- СТРАНИЦЫ В СОЦСЕТЯХ -->

                <div class="col-lg-12 cont_phone">
                    <h3 class="h3_cont text-center">СТРАНИЦЫ В СОЦСЕТЯХ</h3>
                    <br>
            <!-- Блок соцсетей для больших экранов -->
                    <div class="social_lg text-center hidden-xs">
                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1">
                                <span class="phone_number">
                                    <a href="http://www.facebook.com" target="_blank">
                                        <i class="fab fa-facebook fa-2x"></i>
                                    </a>
                                </span>
                            </div>
                            
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <span class="phone_number">
                                    <a href="http://www.facebook.com" target="_blank">
                                        <a href="http://www.facebook.com" class="link" target="_blank"> www.facebook.com</a>
                                    </a>
                                </span>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1">
                                <span class="phone_number">
                                    <a href="http://www.youtube.com" target="_blank">
                                        <i class="fab fa-youtube fa-2x"></i>
                                    </a>
                                </span>
                            </div>
                            
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <span class="phone_number">
                                    <a href="http://www.youtube.com" target="_blank">
                                        <a href="http://www.youtube.com" class="link" target="_blank"> www.youtube.com</a>
                                    </a>
                                </span>
                            </div>

                        </div>

                        <div class="margin-5"></div>

                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1">
                                <span class="phone_number">
                                    <a href="http://www.instagram.com" target="_blank">
                                        <i class="fab fa-instagram fa-2x"></i>
                                    </a>
                                </span>
                            </div>
                            
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <span class="phone_number">
                                    <a href="http://www.instagram.com" target="_blank">
                                        <a href="http://www.instagram.com" class="link" target="_blank"> www.instagram.com</a>
                                    </a>
                                </span>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1">
                                <span class="phone_number">
                                    <a href="http://www.whatsapp.com" target="_blank">
                                        <i class="fab fa-whatsapp fa-2x"></i>
                                    </a>
                                </span>
                            </div>
                            
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <span class="phone_number">
                                    <a href="http://www.whatsapp.com" target="_blank">
                                        <a href="http://www.whatsapp.com" class="link" target="_blank"> www.whatsapp.com</a>
                                    </a>
                                </span>
                            </div>

                        </div>

                        <div class="margin-5"></div>

                        <div class="row">
                            <div class="col-lg-1 col-md-1 col-sm-1">
                                <span class="phone_number">
                                    <a href="http://www.twitter.com" target="_blank">
                                        <i class="fab fa-twitter fa-2x"></i>
                                    </a>
                                </span>
                            </div>
                            
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <span class="phone_number">
                                    <a href="http://www.twitter.com" target="_blank">
                                        <a href="http://www.twitter.com" class="link" target="_blank"> www.twitter.com</a>
                                    </a>
                                </span>
                            </div>
                            <div class="col-lg-1 col-md-1 col-sm-1">
                                <span class="phone_number">
                                    <a href="http://www.vk.com" target="_blank">
                                        <i class="fab fa-vk fa-2x"></i>
                                    </a>
                                </span>
                            </div>
                            
                            <div class="col-lg-5 col-md-5 col-sm-5">
                                <span class="phone_number">
                                    <a href="http://www.vk.com" target="_blank">
                                        <a href="http://www.vk.com" class="link" target="_blank"> www.vk.com</a>
                                    </a>
                                </span>
                            </div>

                        </div>
                    </div>
        <!-- Блок соцсетей для маленьких экранов -->
            <div class="social_xs hidden-lg hidden-sm hidden-md">
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <span class="phone_number text-center">
                                <a href="http://www.vk.com" target="_blank">
                                    <i class="fab fa-vk fa-2x"></i>
                                </a>
                        </span>
                    </div>
                    <div class="col-xs-12 text-center">
                        <span class="phone_number">
                                <a href="http://www.vk.com" target="_blank">
                                    <a href="http://www.vk.com" class="link" target="_blank"> www.vk.com</a>
                                </a>
                            </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <span class="phone_number">
                                <a href="http://www.facebook.com" target="_blank">
                                    <i class="fab fa-facebook fa-2x"></i>
                                </a>
                        </span>
                    </div>
                    <div class="col-xs-12 text-center">
                        <span class="phone_number">
                                <a href="http://www.facebook.com" target="_blank">
                                    <a href="http://www.facebook.com" class="link" target="_blank"> www.facebook.com</a>
                                </a>
                            </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <span class="phone_number">
                                <a href="http://www.twitter.com" target="_blank">
                                    <i class="fab fa-twitter fa-2x"></i>
                                </a>
                        </span>
                    </div>
                    <div class="col-xs-12 text-center">
                        <span class="phone_number">
                                <a href="http://www.twitter.com" target="_blank">
                                    <a href="http://www.twitter.com" class="link" target="_blank"> www.twitter.com</a>
                                </a>
                            </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <span class="phone_number">
                                <a href="http://www.whatsapp.com" target="_blank">
                                    <i class="fab fa-whatsapp fa-2x"></i>
                                </a>
                        </span>
                    </div>
                    <div class="col-xs-12 text-center">
                        <span class="phone_number">
                                <a href="http://www.whatsapp.com" target="_blank">
                                    <a href="http://www.whatsapp.com" class="link" target="_blank"> www.whatsapp.com</a>
                                </a>
                            </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <span class="phone_number">
                                <a href="http://www.instagram.com" target="_blank">
                                    <i class="fab fa-instagram fa-2x"></i>
                                </a>
                        </span>
                    </div>
                    <div class="col-xs-12 text-center">
                        <span class="phone_number">
                                <a href="http://www.instagram.com" target="_blank">
                                    <a href="http://www.instagram.com" class="link" target="_blank"> www.instagram.com</a>
                                </a>
                            </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 text-center">
                        <span class="phone_number">
                                <a href="http://www.youtube.com" target="_blank">
                                    <i class="fab fa-youtube fa-2x"></i>
                                </a>
                        </span>
                    </div>
                    <div class="col-xs-12 text-center">
                        <span class="phone_number">
                                <a href="http://www.youtube.com" target="_blank">
                                    <a href="http://www.youtube.com" class="link" target="_blank"> www.youtube.com</a>
                                </a>
                            </span>
                    </div>
                </div>
            </div>


                      
                <div class="col-lg-12">
                    <hr>
                </div>

                <div class="col-lg-12 cont_phone no_padding">
                    <h3 class="h3_cont text-center">НАШ АДРЕС</h3>
                    <br>
                    <div class="col-lg-12 adress no_padding">
                        <p style="font-size: 130%;">Основной офис</p>
                        <p><span class="phone_number">г. Москва, ул. Новочеремушкинская, 61, 117418</span></p>
                        <div class="embed-responsive embed-responsive-4by3">
                            <iframe src="https://yandex.ru/map-widget/v1/-/CKANNR3Y" width="560" height="400" frameborder="1" allowfullscreen="true"></iframe>
                        </div>
                        <br>
                        <!-- <br>
                        <p style="font-size: 130%;">Филилал в Санкт-Петербурге</p>
                        <p><span class="phone_number">г. Санкт-Петербург, Невский проспект, д.28</span></p>
                        <div class="embed-responsive embed-responsive-4by3">
                          <iframe class="embed-responsive-item" src="https://yandex.ru/map-widget/v1/-/CGtFAUy2" width="560" height="400" frameborder="1" allowfullscreen="true"></iframe>
                        </div> -->
                    </div>                                 
                </div> 

                <div class="col-lg-12">
                    <hr>
                </div>
            
                
           
            
          
        </div>
    </div>