<div class="wrapper">
        <div class="container">
    <!-- ЛЕВЫЙ БЛОК КОНТЕНТА -->
           <!--  <div class="col-lg-3">
                <div id="navbarCollapse" class="collapse navbar-collapse">
              
                    <ul class="nav nav-stacked">
                        <li> <a href="index.html">ГЛАВНАЯ</a> </li>
                        <li> <a href="about.html">О КОМПАНИИ</a> </li>
                        <li class="active"> <a href="news.html">НОВОСТИ</a> </li>                        
                        <li> <a href="#">КАТАЛОГ ПРОДУКЦИИ</a> </li>
                        <li> <a href="price.html">СКАЧАТЬ ПРАЙС-ЛИСТ</a> </li>                        
                        <li> <a href="contacts.html">КОНТАКТЫ</a> </li>
                    </ul>
                </div>

                <div class="margin-20 hidden-xs"></div>
                
                <div class="news hidden-xs">
                  <a href="#"><h3>НОВОСТИ</h3></a>
                  <hr>

                  <a href="#"><h4>Заголовок новости</h3></a>
                  <p>23.02.2019</p>
                  <p class="text-justify">Новости про свет, интерьеры и так далее</p>
                  <hr>
                  <a href="#"><h4>Ещё заголовок новости</h3></a>
                  <p>23.02.2019</p>
                  <p class="text-justify">В интерьере, в его дизайне мелочей не бывает. Здесь взаимосвязано практически всё.</p>
                  <hr>
                  <a href="#"><h4>Крутейший заголовок</h3></a>
                  <p>23.02.2019</p>
                  <p class="text-justify">В интерьере, в его дизайне мелочей не бывает. Здесь взаимосвязано практически всё.</p>
                  <hr>
                </div>

            </div> -->
    <!-- ПРАВЫЙ БЛОК КОНТЕНТА -->
            <div class="col-lg-12">                        

                <div class="row news">
                    <h2 class="h2_header">Тут первая новость</h2>
                    <hr>
                    <div class="col-lg-3 col-md-2 text-center">
                      <img class="img-thumbnail img-responsive pull-left" src="img/lumb2.jpg" alt="Безумный Макс">
                    </div>
                    <div class="col-lg-9 col-md-10">
                      <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis malesuada elit in sem facilisis elementum. Pellentesque lorem tellus, dictum nec bibendum ac, lacinia in eros. Fusce vitae euismod ipsum, a viverra nibh. Sed viverra turpis non blandit condimentum. Nulla blandit arcu in ligula imperdiet tincidunt. Suspendisse ut vestibulum neque. Nulla sed ex eu leo suscipit tristique. Donec ac rutrum lectus. Vivamus quis erat id elit ultrices malesuada. Etiam quis tincidunt massa, id euismod velit. Morbi rutrum rutrum augue ut vestibulum. Proin venenatis risus turpis, tempus tincidunt odio auctor vestibulum. Nam laoreet scelerisque ipsum, vel volutpat lectus tristique non. Vivamus ac suscipit nisl. </p>
                    </div>
                    <div class="col-lg-12">
                      <a href="" class="btn btn-lg btn-primary pull-right">Подробнее</a>
                    </div>
                </div>

                <div class="margin-5"></div>

                <div class="row news">
                    <h2 class="h2_header">Тут вторая</h2>
                    <hr>
                    <div class="col-lg-3 col-md-2 text-center">
                      <img class="img-thumbnail img-responsive pull-left" src="img/lumb3.jpg" alt="Безумный Макс">
                    </div>
                    <div class="col-lg-9 col-md-10">
                      <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis malesuada elit in sem facilisis elementum. Pellentesque lorem tellus, dictum nec bibendum ac, lacinia in eros. Fusce vitae euismod ipsum, a viverra nibh. Sed viverra turpis non blandit condimentum. Nulla blandit arcu in ligula imperdiet tincidunt. Suspendisse ut vestibulum neque. Nulla sed ex eu leo suscipit tristique. Donec ac rutrum lectus. Vivamus quis erat id elit ultrices malesuada. Etiam quis tincidunt massa, id euismod velit. Morbi rutrum rutrum augue ut vestibulum. Proin venenatis risus turpis, tempus tincidunt odio auctor vestibulum. Nam laoreet scelerisque ipsum, vel volutpat lectus tristique non. Vivamus ac suscipit nisl. </p>
                    </div>
                    <div class="col-lg-12">
                      <a href="" class="btn btn-lg btn-primary pull-right">Подробнее</a>
                    </div>
                </div>

                <div class="margin-5"></div>

                <div class="row news">
                    <h2 class="h2_header">И здесь новости</h2>
                    <hr>
                    <div class="col-lg-3 col-md-2 text-center">
                      <img class="img-thumbnail img-responsive pull-left" src="img/lumb6.jpg" alt="Безумный Макс">
                    </div>
                    <div class="col-lg-9 col-md-10">
                      <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis malesuada elit in sem facilisis elementum. Pellentesque lorem tellus, dictum nec bibendum ac, lacinia in eros. Fusce vitae euismod ipsum, a viverra nibh. Sed viverra turpis non blandit condimentum. Nulla blandit arcu in ligula imperdiet tincidunt. Suspendisse ut vestibulum neque. Nulla sed ex eu leo suscipit tristique. Donec ac rutrum lectus. Vivamus quis erat id elit ultrices malesuada. Etiam quis tincidunt massa, id euismod velit. Morbi rutrum rutrum augue ut vestibulum. Proin venenatis risus turpis, tempus tincidunt odio auctor vestibulum. Nam laoreet scelerisque ipsum, vel volutpat lectus tristique non. Vivamus ac suscipit nisl. </p>
                    </div>
                    <div class="col-lg-12">
                      <a href="" class="btn btn-lg btn-primary pull-right">Подробнее</a>
                    </div>
                </div>

                <div class="margin-5"></div>

                <div class="row news">
                    <h2 class="h2_header">И вот ещё какие-то</h2>
                    <hr>
                    <div class="col-lg-3 col-md-2 text-center">
                      <img class="img-thumbnail img-responsive pull-left" src="img/lumb5.jpg" alt="Безумный Макс">
                    </div>
                    <div class="col-lg-9 col-md-10">
                      <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis malesuada elit in sem facilisis elementum. Pellentesque lorem tellus, dictum nec bibendum ac, lacinia in eros. Fusce vitae euismod ipsum, a viverra nibh. Sed viverra turpis non blandit condimentum. Nulla blandit arcu in ligula imperdiet tincidunt. Suspendisse ut vestibulum neque. Nulla sed ex eu leo suscipit tristique. Donec ac rutrum lectus. Vivamus quis erat id elit ultrices malesuada. Etiam quis tincidunt massa, id euismod velit. Morbi rutrum rutrum augue ut vestibulum. Proin venenatis risus turpis, tempus tincidunt odio auctor vestibulum. Nam laoreet scelerisque ipsum, vel volutpat lectus tristique non. Vivamus ac suscipit nisl. </p>
                    </div>
                    <div class="col-lg-12">
                      <a href="" class="btn btn-lg btn-primary pull-right">Подробнее</a>
                    </div>
                </div>
           
            </div>
          
        </div>
    </div>