<div class="wrapper">
        <div class="container">
    <!-- ЛЕВЫЙ БЛОК КОНТЕНТА -->
            <!-- <div class="col-lg-3">
                <div id="navbarCollapse" class="collapse navbar-collapse">
              
                    <ul class="nav nav-stacked">
                        <li> <a href="index.html">ГЛАВНАЯ</a> </li>
                        <li> <a href="about.html">О КОМПАНИИ</a> </li>
                        <li> <a href="news.html">НОВОСТИ</a> </li>                        
                        <li> <a href="#">КАТАЛОГ ПРОДУКЦИИ</a> </li>
                        <li class="active"> <a href="price.html">СКАЧАТЬ ПРАЙС-ЛИСТ</a> </li>                        
                        <li> <a href="contacts.html">КОНТАКТЫ</a> </li>
                    </ul>
                </div>

                <div class="margin-20 hidden-xs"></div>
                
                <div class="news hidden-xs">
                  <a href="#"><h3>НОВОСТИ</h3></a>
                  <hr>

                  <a href="#"><h4>Заголовок новости</h3></a>
                  <p>23.02.2019</p>
                  <p class="text-justify">Новости про свет, интерьеры и так далее</p>
                  <hr>
                  <a href="#"><h4>Ещё заголовок новости</h3></a>
                  <p>23.02.2019</p>
                  <p class="text-justify">В интерьере, в его дизайне мелочей не бывает. Здесь взаимосвязано практически всё.</p>
                  <hr>
                  <a href="#"><h4>Крутейший заголовок</h3></a>
                  <p>23.02.2019</p>
                  <p class="text-justify">В интерьере, в его дизайне мелочей не бывает. Здесь взаимосвязано практически всё.</p>
                  <hr>
                </div>

            </div> -->
    <!-- ПРАВЫЙ БЛОК КОНТЕНТА -->
            <div class="col-lg-12">                        

                <h2 class="h2_header">СКАЧАТЬ ПРАЙС-ЛИСТ</h2>
                <hr>                
                <p style="font-size: 130%;">Здесь вы можете скачать прайс-листы на нашу продукцию</p>

                <div class="margin-5"></div>                

                <div class="col-lg-6 col-xs-12 btn">
                    <a href="files/Price_main.pdf" target="_blank" download="">
                        <button type="button" class="btn btn-primary btn-lg btn_xls">Скачать основной прайс PDF <i class="fas fa-download"></i></button>
                    </a>
                </div>

                <div class="col-lg-6 col-xs-12 btn">
                    <a href="files/Price_main.xlsx" download="">
                        <button type="button" class="btn btn-primary btn-lg btn_xls">Скачать основной прайс XLS <i class="fas fa-download"></i></button>
                    </a>
                </div>
                <div class="col-lg-6 col-xs-12 btn">
                    <a href="files/Price_essentials.pdf" target="_blank" download="">
                        <button type="button" class="btn btn-primary btn-lg btn_xls">Дополнительная серия продукции Essentials PDF <i class="fas fa-download"></i></button>
                    </a>
                </div>

                <div class="col-lg-6 col-xs-12 btn">
                    <a href="files/Price_essentials.xlsx" download="">
                        <button type="button" class="btn btn-primary btn-lg btn_xls">Дополнительная серия продукции Essentials XLS <i class="fas fa-download"></i></button>
                    </a>
                </div>

                
                
           
            </div>
          
        </div>
    </div>